 /* une idée que j'ai eu : body {
  background-image: linear-gradient(#363636, rgb(172, 0, 134)); 
}*/

.navbar { /* barre de navigation */
  background-image: linear-gradient(to bottom left, rgb(0, 0, 126), rgb(184, 0, 144))
}

.navbar-brand { /* titre du site (à coté du logo) */
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.logo_ms { /* logo du site */
  width: 100px; height: auto;
}

.logo_ms:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.nav-link { /* liens de la barre de navigation */
  color: #ffffff;
}

.genre-item h5 {
  color: #1db954;
}

.card-title {
  font-weight: bold;
  background-color: #e900d5;
}

.hero {
  background-image: url(../images/background.webp);
  border-radius: 10px;
  color: white;
}

.hero h1 {
  font-weight: bold;
}